.btn{
    padding: 4px 1.2em;
    font-size: 12px;
    cursor:pointer
}

/* Used in vendor profile form */
.google-logo span:nth-child(1) { color: #4285F4; } /* G - Blue */
.google-logo span:nth-child(2) { color: #DB4437; } /* o - Red */
.google-logo span:nth-child(3) { color: #F4B400; } /* o - Yellow */
.google-logo span:nth-child(4) { color: #4285F4; } /* g - Blue */
.google-logo span:nth-child(5) { color: #0F9D58; } /* l - Green */
.google-logo span:nth-child(6) { color: #DB4437; } /* e - Red */


table > tbody > tr > td {
    border:none !important;
}
/* Opening hours */
.add_hour{
    padding: 6px 1em;
    font-size: 14px;
}

#opening_hours select option{
    color: #333;
}


#status-open {
    color: #fff !important;
    font-size: small;
    font-weight: bold;
}

#status-closed {
    color: #fff !important;
    font-size: small;
    font-weight: bold;
}


.paystack-button {
    background-color: #00A859;
    color: white;
    border: none;
    padding: 4px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
        
.paystack-button:hover {
    background-color: #008A4B;
}
        
.paystack-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* For the place order page */
.place-order-table td {
    padding: 0.75rem 0px !important;
}