<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if customer_dashboard_active %}active{% endif %}">
                <a href="{% url 'customer_dashboard' %}"
                ><i class="icon-dashboard3"></i>Dashboard</a
                >
            </li>
            <li class="{% if customer_my_orders_active %}active{% endif %}">
                <a href="{% url 'customer_my_orders' %}"
                ><i class="icon-shopping-basket"></i>My Orders</a
                >
            </li>
            <li class="{% if customer_profile_active %}active{% endif %}">
                <a href="{% url 'customer_profile' %}"
                ><i class="icon-building"></i>Profile settings</a
                >
            </li>

            <li><a class="logout-btn" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a></li>
        </ul>
    </div>
</div>